@import

    "../base/mixin",
    "../base/variable";

@font-face {font-family: "iconfont";
    src: url(../src/assets/font/iconfont.ttf) format('truetype'); 
}
.ui-icon,[class^="ui-icon-"] {
    @include icon;
}

.ui-icon-close:before { content: $icon-close;}
.ui-icon-search:before { content: $icon-search;}
.ui-icon-return:before { content: $icon-return;}
.ui-icon-close,
.ui-icon-search{
    color: $icon-color;
}
.ui-icon.ui-icon-house{
    width: 16px;
    height: 16px;
    background-image: url(../src/assets/images/icon-house.png);
    background-size:100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.ui-icon.ui-icon-hot{
    background-image:url(../src/assets/images/ico_hot.png);
    background-size:100%;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align:middle;
    margin-right: 10px;
}