.address{
	background-color:#f7f7f7;
	.ui-container{
		margin-bottom: 50px;
	}
	.address-item{
		margin-bottom:10px;
	}
	.ui-list{
		border-bottom: solid 1px #dcdcdc;
		//font-size: 14px;
		li{
		padding: 5px 10px;
		margin-left:0;
		}
	}
	.icon-edit{
		    margin-left: 20px;
		        margin-right: 10px;
		vertical-align: middle;
		display: inline-block;
		width: 15px;
		height: 16px;
		background-image:url(../src/assets/images/icon-edit.png);
		background-size:100%;
	}
	.icon-delout{
		vertical-align: middle;
		display: inline-block;
		margin-left: 20px;
    	margin-right: 10px;
    	vertical-align: middle;
		width: 15px;
		height: 16px;
		background-image:url(../src/assets/images/icon-del.png);
		background-size:100%;
	}
	.footer {
	    position: fixed;
	    bottom: 0;
	    width: 100%;
	}
	.address-nomsg{
		margin-top: 50px;
		display: none;
		text-align: center;
		img{
			width: 0.62rem;
			height: 0.76rem;

		}
	}
}
.address_add{
	.ui-form-item{
		margin-top: 0;
		margin-bottom: 0;
	}
	input[type=text]{
		padding-left:95px;
	}
	.address-set{
		margin-top: 10px;
		padding:10px;
		background-color:#fff;
	}
}
.address-add-list{
	label{
		color: #000;
	}
	span{
		//font-size: 14px;
	}
}