.wrapper{
    display: none;
    position: absolute;
    left: 0;
    top: 95px;
    bottom: 0;
    width: 100%;
    background-color: #fafafa;
    z-index: 10;
}
.wrapper.active{
    display: block;
}
.pulldown, .pullup {
    height:40px;
    line-height:40px;
    padding:5px 10px;
    border-bottom:1px solid #ccc;
    font-weight:bold;
    font-size:14px;
    color:#888;
    text-align: center;
}
.pulldown .pulldownIcon, .pullup .pullupIcon  {
    display:block; float:left;
    width:40px; height:40px;
    -webkit-background-size:40px 80px;
    background-size:40px 80px;
    -webkit-transition-property:-webkit-transform;
    -webkit-transition-duration:250ms;
}
.pulldown .pulldownIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}
.pullup .pullupIcon  {
    -webkit-transform:rotate(-180deg) translateZ(0);
}

.pulldown.flip .pulldownIcon {
    -webkit-transform:rotate(-180deg) translateZ(0);
}

.pullup.flip .pullupIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}

.pulldown.loading .pulldownIcon, .pullup.loading .pullupIcon {
    background-position:0 100%;
    -webkit-transform:rotate(0deg) translateZ(0);
    -webkit-transition-duration:0ms;

    -webkit-animation-name:loading;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(360deg) translateZ(0); }
}